body {
	font-family: arial;
	background: blue;
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	color:white;
	border: 5px dashed black;

}
li{
	border: 2px solid blue;
	color: white;
}
#special {
	color:white;
}
#dankman {
	color:black  ;
}
.twothree{
	text-decoration: line-through;
}
